#pid{
	border-color: blue;
	padding:5px;
	margin:5px;
}
#pname{
	border-color: blue;
	padding:5px;
	margin:5px;
}
#pprice{

	border-color: blue;
	padding:5px;
	margin:5px;
}
#table{
	border-color: black;
}