#wrapper{
           margin-left: 28%;
           margin-right: 28%;
           margin-top: 3%;
           margin-bottom: 3%;
           background-color:white;
           width: 611px;
           height: 482px;
}
#header{
	background-color: #D3D3D3;
	width: 611px;
	height: 52px;
}
.clear {
  clear: both;
}
p{
  color: black;
  padding-top: 2%;
  margin:2%;
}
#menu{
  width:609px;
  height: 22px;
  background-color: #1F1F1F;
  color: white;
  margin: 0px;

}
ul {
    margin: 0px;
    padding: 0px;
    
    background-color: #333333;
}
li a {
    display: block;
    color: white;
    font-size: small;
    padding: 5px;
    text-decoration: none;
    float: left;


    border-right: 1px solid white;
    height: 13px;
  }
a:hover{
  background-color: green;
 }
 #content{
 
  background-color: white;
  width:610px;
  height:370;
  margin:0px;
  padding:0px;

 }
 #rightbar{
  background-color: #DCDCDC;
  height: 30%px;
  width: 40%px;
  float: right;
 }
 #rightbar p{
  color: black;
  font-size: small;
 }
 #rightbar h3{
  color: #003D5D;
 }
 #leftbar{
  width: 350px;
  float: left;
 }
 #leftbar h2{
  color:  #003D5D;

 }
 #leftbar p{
  color: black;
  font-size: small;
 }
 #footer{
  background-color: #D3D3D3;
  padding: 10px;
 }
 #footer p{
  font-size: 20px;

  color: black;
  text-align: right;
  font-size: 10px;
  margin-top: 3px;
 }
 body
{
  background-color: #1F1F1F;
}